<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css} "/>
    <title>Recipe</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="card">
                <div class="card-header">Recipe Description Here..</div>
                <div class="card-body">
                    <h4 class="card-title" th:text="" >Card Title</h4>
                    <div class="row">
                        <p class="col-md-3">Categories :</p>
                        <ul class="col-md-9">
                            <li>one</li>
                            <li>one</li>
                            <li>one</li>
                        </ul>
                    </div>
                    <div class="row">
                        <p class="col-md-3">Prep Time :</p>
                        <p class="col-md-3">30 min</p>
                        <p class="col-md-3">Difficulty :</p>
                        <p class="col-md-3">Easy</p>
                    </div>
                    <div class="row">
                        <p class="col-md-3">Cooking time :</p>
                        <p class="col-md-3">30 min</p>
                        <p class="col-md-3">Servings :</p>
                        <p class="col-md-3">4</p>
                    </div>
                    <div class="row">
                        <p class="col-md-3">Source :</p>
                        <p class="col-md-3">30 min</p>
                        <p class="col-md-3">URL :</p>
                        <p class="col-md-3">www.example.com</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Ingredients</div>
                <div class="card-body">
                    <ul>
                        <li>1 cup of milk</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Directions</div>
                <div class="card-body">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, qui.</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Notes</div>
                <div class="card-body">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consectetur delectus dolor ipsa maxime, necessitatibus nulla quaerat ratione unde!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



</body>
<script th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</html>