<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}"/>
    <title>Recipe</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <button class="btn btn-outline-primary" onclick="location.href='/'">Go to list</button>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-header" th:text="${recipe.description}">Recipe Description Here..</div>
                    <div class="card-body">
<!--                        <h4 class="card-title">Card Title</h4>-->
                        <div class="row">
                            <p class="col-md-3">Categories :</p>
                            <ul class="col-md-9">
                                <li th:each="re: ${recipe.categories}" th:text="${re.description}">one</li>
                            </ul>
                        </div>
                        <div class="row">
                            <p class="col-md-3">Prep Time :</p>
                            <p class="col-md-3" th:text="${recipe.prepTime} + ' min'">30 min</p>
                            <p class="col-md-3">Difficulty :</p>
                            <p class="col-md-3" th:text="${recipe.difficulty}">Easy</p>
                        </div>
                        <div class="row">
                            <p class="col-md-3">Cooking time :</p>
                            <p class="col-md-3" th:text="${recipe.cookTime} + ' min'">30 min</p>
                            <p class="col-md-3">Servings :</p>
                            <p class="col-md-3" th:text="${recipe.servings}">4</p>
                        </div>
                        <div class="row">
                            <p class="col-md-3">Source :</p>
                            <p class="col-md-3" th:text="${recipe.source}">30 min</p>
                            <p class="col-md-3">URL :</p>
                            <p class="col-md-3"><a th:href="${recipe.url}">View Original</a></p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Ingredients
                        <a class="float-right" href="#" th:href="'/recipe/' + ${recipe.id} + '/ingredients'"><button class="btn btn-sm btn-outline-primary">Edit</button></a>
                    </div>
                    <div class="card-body">
                        <ul th:each="ingredient:${recipe.ingredients}">
                            <li th:text="${ingredient.description}">1 cup of milk</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Directions</div>
                    <div class="card-body">
                        <p th:text="${recipe.directions}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, qui.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Notes</div>
                    <div class="card-body">
                        <p th:text="${recipe.notes.getRecipeNotes()}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consectetur delectus dolor ipsa maxime, necessitatibus nulla quaerat ratione unde!</p>
                    </div>
                </div>

        </div>
    </div>





</body>
<script th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</html>