<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}"/>
    <title>Recipe</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h1 class="text-center">Ingredient</h1>

            <div class="row float-right mb-3">
                <button class="btn btn-outline-primary mr-2" onclick="location.href='/'">Main</button>
                <a href="#" th:href="@{'/recipe/'+${ingredient.getRecipeId()} +'/ingredients/'}"><button class="btn btn-outline-primary">List Ingredients</button></a>
            </div>
            <table class="table-responsive" th:if="${not #lists.isEmpty(ingredient)}">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${ingredient.id}">id</td>
                        <td th:text="${ingredient.amount} + ' ' + ${ingredient.unitOfMeasureCommand.getDescription()} + ' - ' + ${ingredient.description}">description</td>
                    </tr>
                    </tbody>
                </table>
            </table>

        </div>
    </div>
</div>




</body>
<script th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</html>